<!-- Project Foundation  
This project was built using a template as a starting point and customized to fit the app’s unique features and design.  
All final code and design choices were reviewed, tested, and implemented by the author.
 -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <meta charset="UTF-8">
   <title>WanderWall 🌍✨</title>
 
   <link rel="stylesheet" href="font-awesome.min.css">
   <link rel="stylesheet" href="styles.css">
 </head>
 
 <body>
   <h1>WanderWall 🌍✨</h1>
   <h2>Wheres your Favorite place to Wander?</h2>
 
   <h3>Places Visited</h3>
 
   <ul class="messages">
    <% for(var i = 0; i < messages.length; i++) { %>
      <li class="message">
        <span class="name"><%= messages[i].name %></span>
        <span class="text"><%= messages[i].msg %></span>
        
        <!-- Display uploaded photo if it exists -->
        <% if (messages[i].photo) { %>
          <br>
          <img src="<%= messages[i].photo %>" alt="Uploaded Image" style="max-width:200px; margin-top:5px; border-radius:5px;">
        <% } %>
        
        <i class="fa fa-pencil edit"></i>
        <i class="fa fa-trash"></i>
      </li>
    <% } %>
  </ul>
  

 <!-- <ul class="messages">
   <% for(var i = 0; i < messages.length; i++) { %>
     <li class="message">
       <span class="name"><%= messages[i].name %></span>
       <span class="text"><%= messages[i].msg %></span>
       <i class="fa fa-pencil edit"></i>
       <i class="fa fa-trash"></i>
     </li>
   <% } %>
 </ul> -->
 
   <h2>Add Your Favorite Destination</h2>
 
   <form action="/messages" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="Country" name="name">
    <input type="text" placeholder="Specific location or city" name="msg">
    <input type="file" name="photo" accept="image/*">
    <button type="submit">Submit</button>
  </form>
  
 
   <script src="main.js"></script>
 
 </body>
 
 </html>
 